# Ignorar archivos y directorios generados automáticamente
/node_modules/
/dist/
/build/
/.vscode/
/.idea/

# Ignorar archivos de configuración
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorar archivos de compilación y caches
*.log
*.swp
*.pyc
__pycache__/

# Ignorar archivos de respaldo y temporales
*~
.DS_Store
Thumbs.db